body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.bkgrd-img {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../../imgs/banquet_fill.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.logo {
  width: 200px;
  cursor: pointer;
  z-index: 3;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: rosybrown;
}

.checkbtn {
  font-size: 28px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

footer {
  color: maroon;
  font-size: 16px;
}

a {
  color: maroon;
}

.socials {
  align-items: center;
  width: 50px;
  cursor: pointer;
}

.nav-button {
  border-style: solid;
  display: block;
  width: 75px;
  background: linear-gradient(rgb(42, 0, 0, 1), rgb(128, 0, 0, 0.7));
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  line-height: 25px;
}

.spacing {
  margin: 7%;
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 1s linear forwards;
  padding: 0 80px;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.spacing > h1 {
  color: white;
  text-align: center;
  font-size: 42px;
}

.huge-font {
  font-size: 58px;
}

form > button {
  border-color: maroon;
  color: white;
  background-color: transparent;
  padding: 2rem;
  text-align: center;
  align-items: center;
  font-size: 18px;
  margin: 1rem;
  border-radius: 50px;
  transition: 0.5s;
}

button:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster {
  display: flex;
  padding: 90px;
  align-items: center;
  justify-content: center;
  background-color: maroon;
  color: white;
  position: relative;
}

#stage {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.column {
  flex: 1;
  padding: 60px;
  z-index: 2;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster a {
  color: white;
}

.poster h2 {
  font-size: 42px;
}

.poster p {
  align-items: center;
  line-height: 30px;
}

.info {
  background-color: maroon;
  color: white;
}

.icons {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 50px;
  padding: 30px;
  flex: 1;
  background-color: white;
  color: maroon;
}

.faq {
  display: flex;
  margin: 0px 150px;
  align-items: center;
  justify-content: center;
  padding: 0 0 100px;
}

.label {
  flex: 1.25;
}

.questions {
  flex: 2;
  align-items: center;
  justify-content: center;
}

.collapsible {
  background-color: maroon;
  color: white;
  padding: 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
}

.active,
.collapsible:hover {
  background-color: maroon;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: maroon;
}

@media (max-width: 900px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
    z-index: 3;
  }

  nav ul {
    position: fixed;
    top: 0px;
    right: -100%;
    background-color: maroon;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    z-index: 2;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }

  nav,
  footer {
    padding: 1rem 2rem;
  }

  footer {
    font-size: 14px;
  }

  .socials {
    width: 40px;
  }

  .nav-button {
    width: 85px;
    padding: 15px;
  }

  .poster,
  .icons {
    margin: 0;
    flex-direction: column;
  }

  .column,
  .card,
  .faq > * {
    flex: 1;
  }

  .column {
    padding-bottom: 0;
  }

  .faq {
    flex-direction: column;
    margin: 0 30px;
  }
}
