body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.logo{
    width: 200px;
    cursor: pointer;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 35px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.header {
    background-image: linear-gradient( rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.1));
    background-color: maroon;
    color: white;
    /* height: 100%; */
}

.header h1 {
    text-align: center;
    align-items:start;
    font-size: 150px;
}

.sponsor-icons {
    height: auto;
    /* overflow: visible; */
    margin: 100px;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
} 
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.sponsor-icons img {
    /* height: 30%; */
    /* float: left; */
    /* width:  100px; */
    max-height: 250px;
    object-fit: cover;
    padding: 25px;
}

footer {
    color: maroon;
    font-size: 18px;
}

a {
    color: maroon;
}

.socials {
    align-items: center;
    width: 50px;
    cursor: pointer;
}

h1 {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
} 
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}