body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
} 

.logo{
    width: 180px;
    cursor: pointer;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

footer p {
    color: maroon;
    font-size: 18px;
}

a {
    color: maroon;
}

.socials {
    align-items: center;
    width: 50px;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    margin: 0 220px 150px 220px;
}

.pic {
    width: 90%;
}

.pic img {
    width: 100%
}

.caption {
    margin-left: -200px;
    background-color: maroon;
    padding: 60px;
    color: white;
    width: 50%;
}

.caption-left {
    margin-right: -200px;
    background-color: maroon;
    padding: 60px;
    color: white;
    width: 50%;
    z-index: 1;
}

.anim > h1 {
    text-align: center;
    align-items: center;
    margin: 50px 0 100px;
    padding: 0;
    font-size: 45px;
}

.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
} 
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav-button {
    border-style: solid;
    display: block;
    width: 75px;
    background: linear-gradient( rgb(42, 0, 0), rgb(128, 0, 0));
    padding: 9px;
    text-align: center;
    border-radius: 7px;
    font-weight: bold;
    line-height: 25px;
}

span {
    color: white;
}