body {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-image: url('../../imgs/alumni-board.png'); 
    background-repeat: no-repeat;
    background-size: cover;
}  

.logo{
    width: 200px;
    cursor: pointer;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

footer {
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

footer p {
    margin: 0 6%;
    color: maroon;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a {
    color: maroon;
}

.socials {
    align-items: center;
    width: 50px;
    cursor: pointer;
}

.content {
    color: white;
    text-align: center;
    align-items: center;
    margin: 0 15%;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
    padding: 0 80px;
} 
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.content a {
    color: white;
    text-decoration: none;
}

button {
    border: none;
    padding: 30px 35px;
    text-align: center;
    align-items: center;
    font-size: 18px;
    margin: 0 80px;
    border-radius: 50px;
    transition: 0.5s;
    /* width: 90%; */
}

button:hover {
    background-color:lightgrey;
    cursor: pointer;
}

h1 {
    font-size: 70px;
    margin: 30px;
}
h2 {
    font-size: 18px;
    margin: 30px;
    text-shadow: 2px 2px black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* border-style: solid; */
    padding: 20px;
}

.nav-button {
    border-style: solid;
    display: block;
    width: 75px;
    background: linear-gradient( rgb(42, 0, 0, 1), rgb(128, 0, 0, 0.7));
    padding: 9px;
    text-align: center;
    border-radius: 7px;
    font-weight: bold;
    line-height: 25px;
}